body{
	
	background-color:blue;
}
p{
	background-color:maroon;
}

/*div{
	width:300px;
    padding:25px;
    border:25px solid navy;
    margin:25px;
}
table,td,th{
	
	border:1px solid black;
}
img {
	margin-right:150px;
    margin-left:80px;
}*/